<p id="notice"><%= notice %></p>

<h1>Listing My Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tipousuario</th>
      <th>Reputacao</th>
      <th>Rank</th>
      <th>Level</th>
      <th>Patente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_models.each do |my_model| %>
      <tr>
        <td><%= my_model.name %></td>
        <td><%= my_model.tipousuario %></td>
        <td><%= my_model.reputacao %></td>
        <td><%= my_model.rank %></td>
        <td><%= my_model.level %></td>
        <td><%= my_model.patente %></td>
        <td><%= link_to 'Show', my_model %></td>
        <td><%= link_to 'Edit', edit_my_model_path(my_model) %></td>
        <td><%= link_to 'Destroy', my_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My model', new_my_model_path %>
