

<p>
  <strong>Name:</strong>
  <%= @my_model.name %>
</p>

<p>
  <strong>Tipousuario:</strong>
  <%= @my_model.tipousuario %>
</p>

<p>
  <strong>Reputacao:</strong>
  <%= @my_model.reputacao %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @my_model.rank %>
</p>

<p>
  <strong>Level:</strong>
  <%= @my_model.level %>
</p>

<p>
  <strong>Patente:</strong>
  <%= @my_model.patente %>
</p>

<%= link_to 'Edit', edit_my_model_path(@my_model) %> |
<%= link_to 'Back', my_models_path %>
